{% extends 'admin/base/base.html' %}

{% block title %}Medicines{% endblock %}

{% block content %}

<!-- Appointments Section -->
        <section id="appointments" class="content-section active">
            <div class="section-header">
                <h2>Quản lí phòng bệnh</h2>
                <div class="section-actions">
                    <button class="btn btn-primary">
                        <i data-feather="plus"></i>
                        Thêm phòng bệnh mới
                    </button>
                </div>
            </div>

            <div class="appointments-grid">
                <div class="appointments-table">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>Phòng</th>
                                <th>Khoa</th>
                                <th>Tòa nhà</th>
                                <th>Trạng thái</th>
                                <th>Danh sách bệnh nhân</th>
                            </tr>
                        </thead>
                        <tbody id="appointmentsTableBody">
                            <!-- Populated by JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
{% endblock %}